a {
    color: rgb(255, 255, 255);
    text-decoration: none !important;

}

/* head栏的样式规定 */
.head {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 999;
}


.navbar {
    width: 80%;
    margin: auto;
}

.navbar-brand img {
    height: 36px;
}

.navbar li {
    margin-right: 40px;
}

/* 占位的合作元素 */
.eg {
    width: 100%;
    height: 56px;
    background-color: black;
}

/* swaper区域 */
.swaper {
    /* background-image: url(https://i.loli.net/2020/09/11/jMhdIgl2XsaEiYD.jpg); */
    width: 100%;
    height: 1200px;
    /* 背景颜色的渐变 */
    background-color: #531717;
    background-image: radial-gradient(rgb(88, 9, 9), rgb(0, 0, 0)); /* 标准的语法（必须放在最后） */
}

.content {
    padding-top: 18%;
}

.swaper_word {
    font-size: 3em;
    text-shadow: 0 0 15px #ff0000;
    font-weight: 800;
    color: rgb(255, 255, 255);


}

.join_me {
    margin-top: 320px;


}
.join_box{
    height: 55px;
    width: 175px;
    background-color: rgb(19, 4, 4);
    border: 1px solid white;
    border-radius: 35px;
    text-align: center;
    margin: 5px auto;
    line-height: 45px;
    
}
/* 简介页面 */
.Why_Popular {
    background-color: #531717;
    padding-top: 30px;
    
}
.popular_word{

    text-align: center;
    position: relative;

}
.word_box{
    font-size: 2em;
    color: rgb(255, 255, 255);
    font-style: italic;  
    position: relative;
    width: 450px;
    z-index: 999;
    margin: 0px auto;
    text-align: center;
}
.word_box::after{
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.4em;
    background-color: rgb(255, 0, 0);
    margin-top: 1em;
    z-index: -1;
}
.popular_content {
    margin-top: 30px;


}
.title {
    color: rgb(0, 255, 242);
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 50px;
    position: relative;
}
.title > i{
    margin-left: -15px;
    color: red;
}

.title_word{
    color: rgb(212, 211, 211);
    position: relative;
    font-size: 1em;
    width: 60%;
}
.title_word::before{
    content: "";
    position: absolute;
    background-color: whitesmoke;
    height: 120%;
    width: 2px;
    margin-left: -10px;
}

@media only screen and (max-width: 639px) and (min-width: 320px) {
    /* swaper区域 */
    .swaper{
        height: 600px;
    }
    .swaper_word{
        font-size: 2em;
    }
    .join_me{
        margin-top:100px;
    }
    /* 简介页面 */
    .word_box{
        font-size: 1em;
        width: 220px;
    }



}