body{
    font-family: 'Sailec-Bold','system-ui','-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue','Helvetica','Arial','sans-serif';
}


a {
    color: rgb(255, 255, 255);
    text-decoration: none !important;

}

html,
body {
    overflow-x: hidden;
}

.index_2 {
    z-index: 2;
}

/* 下面的横线 */
.word_bottom::after {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.5em;
    background-color: #DC003E;
    z-index: -1;
    bottom: 0px;
}

/* head栏的样式规定 */
.head {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 999;
}


.navbar {
    width: 90%;
    margin: auto;
}

.navbar-brand img {
    height: 36px;
}

.navbar li {
    margin-right: 40px;
    padding-left: 25px;

}

.nav-link {
    color: white !important;
}

/* 占位的合作元素 */
.eg {
    width: 100%;
    height: 56px;
    background-color: black;
}

/* swaper区域 */
.swaper {
    /* background-image: url(https://i.loli.net/2020/09/11/jMhdIgl2XsaEiYD.jpg); */
    width: 100%;
    height: 1080px;
    /* 背景颜色的渐变 */
    background-color: #300000f3;
    background-image: url(../img/bg_top.png);
    /* 标准的语法（必须放在最后） */
}

.content {
    padding-top: 18%;
}

.swaper_word {
    font-size: 3em;
    text-shadow: 0 0 15px #ff0000;
    font-weight: 800;
    color: rgb(255, 255, 255);


}

.join_me {
    margin-top: 320px;


}

.join_box1,
.join_box2,
.join_box3 {
    height: 60px;
    width: 200px;
    border-radius: 30px;
    text-align: center;
    margin: 10px auto;
    line-height: 60px;
    cursor: pointer;

}

.join_box1 {
    background-color: rgba(207, 207, 207, 0.253);
    border: 2px solid rgba(207, 207, 207, 0.253);

}

.join_box2 {
    background-color: rgba(255, 0, 0, 0.253);
    border: 2px solid rgba(207, 207, 207, 0.253);
    box-shadow: 0px 0px 40px #ff3b3b7e;


}

.join_box3 {
    background-color: rgba(0, 255, 42, 0.253);
    border: 2px solid rgba(207, 207, 207, 0.253);

}


/* 简介页面 */
.Why_Popular {
    background-color: #030101;
    background-image: url(../img/bg1.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding-top: 70px;
    padding-bottom: 70px;

}

.popular_word {

    text-align: center;
    position: relative;

}

.word_box {
    font-size: 2em;
    color: rgb(255, 255, 255);
    font-style: italic;
    position: relative;
    width: 450px;
    z-index: 998;
    margin: 0px auto;
    text-align: center;
}


.popular_content {
    margin-top: 30px;


}

.title {
    color: rgb(0, 255, 242);
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 50px;
    position: relative;
}

.title>i {
    margin-left: -15px;
    color: #DB003D;
}

.title_word {
    color: rgb(212, 211, 211);
    position: relative;
    font-size: 1em;
    width: 90%;
}

.title_word::before {
    content: "";
    position: absolute;
    background-color: whitesmoke;
    height: 120%;
    width: 2px;
    margin-left: -10px;
}

.conclusion {
    width: 100%;
    margin-top: 70px;
    text-align: center;
}

.conclusion_word {
    font-size: 1em;
    color: rgb(0, 255, 242);
    font-style: initial;

}

/* 蜂窝数据界面 */
.cellular {
    background-image: url(../img/bg2.png);
    background-color: #000000;

    /* 标准的语法（必须放在最后） */
    padding-top: 50px;
    padding-bottom: 20px;
    height: 900px;
    display: block;
    background-size: cover
}

.cellualr_word {
    font-size: 2em;
    color: rgb(255, 255, 255);
    font-style: italic;
    position: relative;
    width: 200px;
    z-index: 998;
    margin: 0px auto;
    text-align: center;
}

/* 画六边形 */
.hexagon,
.hexagon2,
.hexagon3,
.hexagon4,
.hexagon5,
.hexagon6,
.hexagon7 {
    position: relative;
    width: 200px;
    height: 346.4px;
}

.hexagon {

    /* 左右居中 */
    margin: 200px auto 10px auto;
    background-color: #D8003C;

}

.hexagon:before,
.hexagon2:before,
.hexagon3:before,
.hexagon4:before,
.hexagon5:before,
.hexagon6:before,
.hexagon7:before {
    content: '';
    display: block;
    right: 200px;
    position: absolute;
    width: 0;
    height: 0;
    border-width: 173.2px 100px;
    border-style: solid;
}

.hexagon:after,
.hexagon2:after,
.hexagon3:after,
.hexagon4:after,
.hexagon5:after,
.hexagon6:after,
.hexagon7:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 200px;
    border-width: 173.2px 100px;
    border-style: solid;
    top: 0;
}

.hexagon:before {
    border-color: transparent #D8003C transparent transparent;
}

.hexagon:after {
    border-color: transparent transparent transparent #D8003C;
}

.red_hexagon {
    position: relative;
    width: 200px;
    height: 346.4px;

}

/* 第二个六边形 */
.hexagon2 {

    left: 310%;
    background-color: #4D0116;

}

.hexagon2:before {
    border-color: transparent #4D0116 transparent transparent;
}

.hexagon2:after {
    border-color: transparent transparent transparent#4D0116;
}

/* 第三个六边形 */

.hexagon3 {

    right: 310%;
    background-color: #4D0116;
    top: -99%;
}

.hexagon3:before {
    border-color: transparent #4D0116 transparent transparent;
}

.hexagon3:after {
    border-color: transparent transparent transparent #4D0116;
}

/* 第四个六边形 */
.hexagon4 {

    /* 左右居中 */
    /* margin: 10px auto; */
    right: 155%;
    /* transform: translateY(-148%); */
    top: -252%;
    background-color: #4D0116;
}

.hexagon4:before {
    border-color: transparent #4D0116 transparent transparent;
}

.hexagon4:after {
    border-color: transparent transparent transparent #4D0116;
}

/* 画第五个六边形 */
.hexagon5 {
    left: 155%;
    background-color: #4D0116;
    top: -353%;
}

.hexagon5:before {
    border-color: transparent #4D0116 transparent transparent;
}

.hexagon5:after {
    border-color: transparent transparent transparent #4D0116;
    top: 0;
}

.hexagon6 {
    left: 155%;
    top: -348%;
    background-color: #4D0116;
}

.hexagon6:before {
    border-color: transparent #4D0116 transparent transparent;
}

.hexagon6:after {
    border-color: transparent transparent transparent #4D0116;
    top: 0;
}

.hexagon7 {
    top: -447%;
    right: 155%;
    background-color: #4D0116;
}

.hexagon7:before {
    border-color: transparent #4D0116 transparent transparent;
}

.hexagon7:after {
    border-color: transparent transparent transparent #4D0116;
    top: 0;
}

.hexagon2:hover,
.hexagon3:hover,
.hexagon4:hover,
.hexagon5:hover,
.hexagon6:hover,
.hexagon7:hover {
    background-color: #ce003a;
}

.hexagon2:hover::before,
.hexagon3:hover::before,
.hexagon4:hover::before,
.hexagon5:hover::before,
.hexagon6:hover::before,
.hexagon7:hover::before {
    border-color: transparent #ce003a transparent transparent;

}

.hexagon2:hover::after,
.hexagon3:hover::after,
.hexagon4:hover::after,
.hexagon5:hover::after,
.hexagon6:hover::after,
.hexagon7:hover::after {
    border-color: transparent transparent transparent #ce003a;

}

/* 邀请数据栏 */
.invita_id,
.balance,
.matrix,
.invita_id {
    position: absolute;
    width: 200px;
}

.invita_id {
    font-size: 18px;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.balance {
    top: 10%;
    text-align: center;
    margin-top: 30px;

}


.usdt,
.wdc {
    font-size: 18px;
    font-weight: bold;
    color: white;
}


.usdt_sum,
.wdc_sum {
    font-size: 30px;
    color: #00FFDB;
    font-weight: 800;
}



.matrix {
    top: 65%;
    text-align: center;

}

.f3 {
    color: white;
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    left: 0%;
    transform: translateX(-30%);

}

.f3_sum {
    color: #00FFDB;
}

.f3 span,
.f3_sum span {
    color: thistle;
}

.f6 {
    color: white;
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    right: 0px;
    transform: translateX(30%);
    z-index: 1;

}

/* 玩法介绍栏 */
.play {
    padding-top: 50px;
    display: block;
    padding-bottom: 50px;

    background-color: rgb(5, 5, 5);
    background-image: url(../img/bg_3.png);
    background-size: cover
}

.play_content {
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    position: relative;
    width: 490px;
    margin: 0px auto;
    z-index: 0;

}

.play_list {
    margin-top: 100px;

}

.list_head {
    font-size: 22px;
    font-weight: 800;
    position: relative;
    width: 160px;
    color: rgb(255, 255, 255);
    z-index: 0;
}

.list_word {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.list_two,
.list_three {
    margin-top: 88px;
}

.list_img {
    font-size: 16px;
}

.two_img img,
.three_img img {
    transform: translateX(-100%) translateY(20%);
}

/* 各种问题解析界面 */




.list-item {
    display: inline-block;
    margin-right: 10px;
}



.question {
    padding-top: 50px;
    padding-bottom: 80px;
    background-image: url(../img/bg_4.png);
    background-repeat: no-repeat;
    background-size: cover
}

.question_head {
    font-size: 40px;
    font-weight: 800;
    width: 170px;
    margin: 0px auto;
    position: relative;
    color: white;
    z-index: 0;
    text-align: center;

}

.question_list {
    margin-top: 100px;
}


.question_list_plus {
    margin-top: 40px;
    /* padding-left: 150px; */
    color: white;
}

.question_list_head {
    margin-top: 40px;
    font-weight: bold;
    position: relative;
    color: white;
    z-index: 0;
}

.question_list_head::after {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    z-index: -1;
    bottom: -10px;

}


.question_list_word {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    color: white;
    opacity: 1;
    transition: opacity 1s;
}




/* 结语部分 */
.end {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../img/bg_5.png);
    margin-top: -0.1em;
    background-size: cover
}

.end_head_1,
.end_head_2 {
    position: relative;
    color: white;
    margin: 0px auto;
    font-size: 30px;
    z-index: 0;
    text-align: center;
}

.end_head_1 {
    width: 560px;
}

.head_1_word,
.head_2_word {
    width: 800px;
    color: white;
    font-size: 18px;
    margin: 100px auto;
}

.end_head_2 {
    width: 190px;

}

/* bottom */
.bottom {
    width: 100%;
    background-color: #1A0000;
    position: relative;
    height: 200px;

}

.bottom_logo {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    left: 10%;
}

.bottom_arrow {
    color: white;
    position: absolute;
    right: 10%;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #E50040;
    text-align: center;
    margin-top: -35px;
}

.bottom_arrow i {
    transform: translateY(50%);
}

.Copyright {
    position: absolute;
    right: 20%;
    color: white;
    font-size: 16px;
    top: 50%;
}




@media only screen and (max-width: 639px) and (min-width: 320px) {

    .swaper {
        /* background-image: url(https://i.loli.net/2020/09/11/jMhdIgl2XsaEiYD.jpg); */
        width: 100%;
        height: 1080px;
        /* 背景颜色的渐变 */
        background-color: #300000f3;
        background-image: url(../img/bg_top.png);
        /* 标准的语法（必须放在最后） */
    }
    /* swaper区域 */
    .swaper {
        height: 600px;
        background-image: url(../img/mobile_1.jpg);
    }

    .swaper_word {
        font-size: 2em;
    }
    .swaper_word p{
        font-size: .8em;
    }
    .join_box1,
    .join_box2,
    .join_box3{
        width: 150px;
    }


    .join_me {
        margin-top: 100px;
    }

    /* 简介页面 */
    .popular_content .col-6 {
        padding-left: 40px;
    }

    .word_box {
        font-size: 20px;
        width: 285px;
        font-weight: 700;
    }

    .title {
        font-size: 18px;
    }

    .title_word {
        font-size: 14px;
        width: 100%;
        color: #e4e4e4;
    }

    .title_word::before {
        content: "";
        position: absolute;
        background-color: rgba(245, 245, 245, 0);
        height: 100px;
        width: 2px;
        margin-left: -10px;
    }

    .conclusion {
        padding: 0px 8%;
    }

    .list_img {
        font-size: 14px;
    }

    /*  蜂窝数据界面 */
    /* 画六边形 */
    .cellular {
        background-image: url(../img/bg2.png);
        background-color: #000000;
        padding-top: 50px;
        height: 630px;
        display: block;
        background-size: cover;
    }

    .hexagon {
        margin-top: 80px;
    }

    .hexagon2,
    .hexagon2::after,
    .hexagon2::before,
    .hexagon3,
    .hexagon3::after,
    .hexagon3::before,
    .hexagon4,
    .hexagon4::after,
    .hexagon4::before,
    .hexagon5,
    .hexagon5::after,
    .hexagon5::before,
    .hexagon6,
    .hexagon6::after,
    .hexagon6::before,
    .hexagon7,
    .hexagon7::after,
    .hexagon7::before {
        display: none;
    }


    /* 玩法介绍界面 */
    .play_content {
        font-size: 20px;
        width: 250px;
        text-align: center;
    }

    .play_list {
        margin-top: 30px;
    }

    .list_head {
        font-size: 18px;
        text-align: center;
        width: 180px;
        margin-top: 30px;

    }

    .list_word {
        font-size: 14px;
        color: #dbdbdb;
        display: block;

    }

    .list_two,
    .list_three {
        margin-top: 30px;
    }

    .two_img,
    .three_img {
        transform: translateX(0);
        text-align: center;
    }

    .two_img img,
    .three_img img {
        transform: translateX(0);
    }

    .line_img {
        width: 35px;
    }

    /* 问题解答界面 */
    .question_head {
        font-size: 24px;
        width: 120px;
    }

    .question_list {
        margin-top: 35px;
    }

    .question_list_plus {
        margin-right: 0px;
    }

    .question_list_content {
        padding-right: 10%;
    }

    .question_list_head::after {
        content: " ";
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        z-index: -1;
        bottom: -10px;



    }

    /* 结语部分 */
    .end {
        padding-top: 30px;
        padding-bottom: 100px;
    }

    .end_head_1,
    .end_head_2 {
        font-size: 20px;
        width: 200px;
        margin-top: 40px;
    }

    .head_1_word,
    .head_2_word {
        font-size: 14px;
        width: 80%;
        margin: 50px auto;
        color: #dddddd;
    }

    /* bottom */
    .bottom {
        height: 100px;
    }

    .bottom_logo img {
        width: 100px;
        left: 5px;
        top: 70%;
    }

    .Copyright {
        font-size: 12px;
        right: 10px;
        top: 70%;
    }

}