a {
    color: rgb(255, 255, 255);
    text-decoration: none !important;

}

html,
body {
    overflow-x: hidden;
}

.index_2 {
    z-index: 2;
}

/* 下面的横线 */
.word_bottom::after {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.5em;
    background-color: #DC003E;
    z-index: -1;
    bottom: 0px;
}

/* head栏的样式规定 */
.head {
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 999;
}


.navbar {
    width: 90%;
    margin: auto;
}

.navbar-brand img {
    height: 36px;
}

.navbar li {
    margin-right: 40px;
    padding-left: 25px;

}

.nav-link {
    color: white !important;
}

/* 占位的合作元素 */
.eg {
    width: 100%;
    height: 56px;
    background-color: black;
}
















/* bottom */
.bottom {
    width: 100%;
    background-color: #1A0000;
    position: relative;
    height: 200px;

}

.bottom_logo {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    left: 10%;
}

.bottom_arrow {
    color: white;
    position: absolute;
    right: 10%;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #E50040;
    text-align: center;
    margin-top: -35px;
}

.bottom_arrow i {
    transform: translateY(50%);
}

.Copyright {
    position: absolute;
    right: 20%;
    color: white;
    font-size: 16px;
    top: 50%;
}


@media only screen and (max-width: 639px) and (min-width: 320px) {


    a {
        color: rgb(255, 255, 255);
        text-decoration: none !important;

    }

    html,
    body {
        overflow-x: hidden;
    }

    .index_2 {
        z-index: 2;
    }

    /* 下面的横线 */
    .word_bottom::after {
        content: " ";
        position: absolute;
        left: 0;
        width: 100%;
        height: 0.5em;
        background-color: #DC003E;
        z-index: -1;
        bottom: 0px;
    }

    /* head栏的样式规定 */
    .head {
        width: 100%;
        background-color: rgb(0, 0, 0);
        position: fixed;
        z-index: 999;
    }


    .navbar {
        width: 90%;
        margin: auto;
    }

    .navbar-brand img {
        height: 36px;
    }

    .navbar li {
        margin-right: 40px;
        padding-left: 25px;

    }

    .nav-link {
        color: white !important;
    }

    /* 占位的合作元素 */
    .eg {
        width: 100%;
        height: 56px;
        background-color: black;
    }
}






































