/* body {
    background-image: url(../img/login_bg.png);
    background-size: cover;
} */
body{
    background-image: url(../img/login_bg.png);
    background-size: cover;
}


a {
    text-decoration: none;
}
/*正常的未被访问过的链接*/
a:link {
    text-decoration: none;
}
/*已经访问过的链接*/
a:visited {
    text-decoration: none;
}
/*鼠标划过(停留)的链接*/
a:hover {
    text-decoration: none;
}
/* 正在点击的链接，鼠标在元素上按下还没有松开*/
a:active {
    text-decoration: none;
}
/* 获得焦点的时候 鼠标松开时显示的颜色*/
a:focus {
    text-decoration: none;
}
.word_bottom::after {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.5em;
    background-color: #DC003E;
    z-index: -1;
    bottom: 0px;
}

.head {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    width: 255px;
    position: relative;
    margin: 60px auto 0 auto;
    color: white;
}
.registered {
    width: 1200px;
    height: 670px;
    margin: 65px auto 0 auto;
    position: relative;
    background-color: #2c000093;
    border-radius: 20px;
    border: #430009 solid 4px;


}
.registered_head {
    width: 130px;
    height: 21px;
    font-size: 22px;
    font-weight: 500;
    margin: 39px auto 0 auto;
    color: white;
}
.registered_concent {
    margin-top: 76px;
}
.auto_head,
.creat_account {
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.auto_word {
    margin-top: 86px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
}
.auto_button {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: #FF0047;
    border: none;
    line-height: 50px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin: 98px auto 0px auto;
}

.creat_question {
margin-top: 24px;
    font-size: 20px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #E60040;
    line-height: 50px;
}
.input1 {
    margin-top: 29px;
}
.input2 {
    margin-top: 45px;
}
.input1,
.input2{
    width: 400px;
    height: 60px;
    border-radius: 30px;
    background-color: #1f00008f;
    border: none;
    color: #909090;
    padding-left: 20px;
}
.creat_button {
    width: 130px;
    height: 60px;
    border-radius: 30px;
    background-color: #510000;
    margin-top: 65px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.buttom {
    width: 200px;
    margin: auto;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    margin-top: 40px;
    background-color: #ff004893;
    border:#FF0048 solid 3px ;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;

}
.buttom a{
    color: white;
}
.copyright {
    color: #E60040;
    font-size: 12px;
    height: 12px;
    text-align: center;

    width: 207pt;
    margin: 20px auto 44px auto;

}


@media only screen and (max-width: 639px) and (min-width: 320px) {
    .login{
        width: 95%;
        /* box-shadow: ; */
    }
    .registered {
        width: 95%;
        margin: 65px auto 0 auto;
        position: relative;
        background-color: #660606;
        border-radius: 20px;
        border: #430009 solid 4px;
        height: 1100px;
    
    
    }

    .registered_head {
        display: none;
    }
    .auto_resgister {
        margin-bottom: 70px;
        position: relative;
        padding-bottom: 60px;
        padding-top: 40px;
        border: rgb(68, 0, 0) solid 6px;
        border-radius: 35px;
    }
    .input1 {
        margin-top: 29px;
    }
    .input2 {
        margin-top: 45px;
    }
    .input1,
    .input2{
        width: 300px;
        height: 60px;
        border-radius: 30px;
        background-color: #4b0000b0;
        border: none;
        color: #909090;
        padding-left: 20px;
    }



}
